<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Location permission for services requiring background location -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Internet permission for API calls and online functionality -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="By Day" <!-- Updated app name -->
        android:name="${applicationName}" <!-- Dynamic application name -->
        android:usesCleartextTraffic="true" <!-- Allows HTTP traffic for development/debugging -->
        android:icon="@mipmap/by_day_launcher_icon"> <!-- Updated launcher icon -->

        <activity
            android:name=".MainActivity" <!-- Main entry point of the application -->
            android:exported="true"
            android:launchMode="singleTop" <!-- Ensures a single instance of MainActivity -->
            android:theme="@style/LaunchTheme" <!-- Specifies the launch theme -->
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true" <!-- Improves graphics rendering -->
            android:windowSoftInputMode="adjustResize"> <!-- Adjusts for soft keyboard -->

            <!-- Specifies the theme to apply to the MainActivity -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Intent filter for app launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Meta-data for Flutter tool to manage plugin registration -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
